@use "sass:color";
@use '@shared/styles/variables' as *;

.card {
  padding: 1.5rem;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  background: white;
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;

  &:hover {
    transform: translateY(-2px);
    box-shadow: $box-shadow;
  }
}

.body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: $text-primary;
  word-break: break-all;
}

.description {
  font-size: 0.9rem;
  color: color.adjust($text-primary, $lightness: 20%, $space: hsl);
  margin-bottom: 1rem;
  word-break: break-all;
}

.meta {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.8rem;
  color: color.adjust($text-primary, $lightness: 30%, $space: hsl);
}

.actions {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
  border-top: 1px solid $border-color;
  padding-top: 1rem;
}